.header {
  background-image: url(/images/contacts.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
}

.nav,
.container_contacts,
.container_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav_toggle {
  opacity: 0;
}

.container_contacts {
  flex-direction: column;
  margin-top: 120px;
}

.nav_items {
  color: var(--color-font);
  position: relative;
  margin-left: 35px;
  text-decoration: none;
  font-family: Sahitya;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 28px;
}

.nav_items:hover {
  text-decoration: underline;
  color: var(--hover-nav-color);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 120px;
}

.container_name {
  flex-direction: column;
}

.heading_contacts,
.name {
  font-family: Rye;
  color: var(--color-font);
}

.heading_contacts {
  font-size: 30px;
  line-height: 37px;
}

.nav a:nth-child(4) {
  text-decoration: underline;
}

.name {
  position: relative;
  font-size: 30px;
  line-height: 37px;
  border-bottom: var(--border-par);
  width: 80px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.wrapper_contacts {
  display: flex;
  font-family: Sahitya;
  font-size: 30px;
  line-height: 47px;
  color: var(--color-font);
  margin: 25px 0 0 170px;
}

.contacts_tel {
  margin-left: 40px;
}

.number {
  text-align: start;
  margin-right: 40px;
}

.contacts_tel > li {
  margin-bottom: 10px;
  display: flex;
  text-align: start;
}

.contacts_tel li:nth-child(5) {
  font-weight: bold;
}

/*MOBILE PHONES*/
@media screen and (max-width: 768px) {

.wrapper_contacts {
  margin-left: 0;
}

.container_contacts {
  margin-top: 20px;
}

.heading_contacts {
  width: 400px;
}

.contacts_tel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 250px;
}
  
}

@media screen and (max-width: 544px) {

  .wrapper_contacts {
    font-size: 14px;
    line-height: 20px;
  }

  .contact {
    width: 190px;
  }
}

@media screen and (max-width: 369px) {

  .heading_contacts {
    width: 100%;
  }

  .contact {
    width: 140px;
  }

}
/*MOBILE PHONES*/