.header {
  background-image: url(/images/contacts.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
}

.nav,
.container_contacts,
.container_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container_contacts {
  flex-direction: column;
  margin-top: 120px;
}

.name:hover {
  color: var(--hover-nav-color);
  border-bottom: var(--border-bottom-hover);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 120px;
}

.container_name {
  flex-direction: column;
}

.heading_name,
.name {
  font-family: Rye;
  color: var(--color-font);
}

.heading_name {
  font-size: 30px;
  line-height: 37px;
}

.nav li:nth-child(4) {
  text-decoration: underline;
}

.name {
  position: relative;
  font-size: 30px;
  line-height: 37px;
  border-bottom: var(--border-par);
  width: 80px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.wrapper_contacts {
  display: flex;
  font-family: Sahitya;
  font-size: 30px;
  line-height: 47px;
  color: var(--color-font);
  margin: 25px 0 0 100px;
}

.contacts_tel {
  margin-left: 40px;
}

.number {
  text-align: start;
  margin-right: 40px;
}

.contacts_tel > li {
  margin-bottom: 10px;
  display: flex;
  text-align: start;
}

.contacts_tel li:nth-child(5) {
  font-weight: bold;
}

/*MOBILE PHONES*/
@media screen and (max-width: 768px) {
  .name,
  .container_contacts {
    margin-top: 20px;
  }

  .wrapper_contacts {
    margin-left: 0;
  }

  .heading_name {
    width: 400px;
  }

  .contacts_tel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: 250px;
  }
}

@media screen and (max-width: 544px) {
  .wrapper_contacts {
    font-size: 14px;
    line-height: 20px;
  }

  .contact {
    width: 190px;
  }

  .header {
    height: 500px;
  }
}

@media screen and (max-width: 369px) {
  .heading_name {
    width: 100%;
  }

  .contact {
    width: 140px;
  }
}
/*MOBILE PHONES*/
