/*HEADER*/
.header {
  background-image: url(/images/back_features.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2000px;
}

.nav li:nth-child(3) {
  text-decoration: underline;
}

.nav,
.container_heading,
.container_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name:hover {
  color: var(--hover-nav-color);
  border-bottom: var(--border-bottom-hover);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 120px;
}

.container_name {
  flex-direction: column;
}

.name {
  font-family: Rye;
  color: var(--color-font);
  position: relative;
  font-size: 30px;
  line-height: 37px;
  border-bottom: var(--border-par);
  width: 80px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
/*HEADER*/

/*CONTENT*/
.container_heading {
  flex-direction: column;
  margin: 0 auto;
  padding-top: 200px;
}

.bottom_name,
.heading_name {
  font-family: Rye;
  color: var(--color-font);
}

.heading_name {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 65px;
}

.bottom_name {
  font-size: 33px;
  line-height: 43px;
}

.description_style,
.caption {
  font-family: Sahitya;
  color: var(--color-font);
  line-height: 37px;
}

.description_style {
  font-size: 26px;
  margin-bottom: 300px;
  max-width: 900px;
}

.container_title,
.caption {
  text-align: center;
}

.wrapper_features {
  display: flex;
  justify-content: space-around;
  margin: 0 170px;
}

.wrapper_features > div {
  margin-bottom: 50px;
}

.caption {
  font-weight: bold;
  font-size: 24px;
}

.caption_indent {
  padding-top: 5px;
}

.img_transform {
  transition: 0.5s;
}

.img_transform:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/*CONTENT*/

/*MOBILE PHONES*/
@media screen and (max-width: 768px) {
  .header {
    height: 1500px;
  }

  .container_heading {
    padding-top: 50px;
  }

  .name {
    margin-top: 20px;
  }

  .heading_name,
  .name {
    font-size: 40px;
    line-height: 55px;
  }

  .description_style {
    font-size: 26px;
    line-height: 40px;
    margin: 0 20px 100px 20px;
  }

  .img_transform {
    width: 130px;
    height: 180px;
    border-radius: 10px;
  }

  .bottom_name {
    font-size: 30px;
    line-height: 40px;
  }

  .wrapper_features {
    margin: 0 50px;
    text-align: center;
  }

  .wrapper_features > div {
    margin-bottom: 30px;
  }

  .container_title {
    margin: 0 100px;
  }
}

@media screen and (max-width: 586px) {
  .heading_name {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  .wrapper_features {
    flex-wrap: wrap;
    margin: 0 25px;
  }

  .container_title {
    margin: 0 33px;
  }

  .description_style {
    font-size: 24px;
    line-height: 30px;
    margin: 0 5px 150px 5px;
  }

  .img_transform:hover {
    transform: scale(1.2);
  }

  .wrapper_features > div {
    margin-bottom: 20px;
  }

  .img_transform {
    width: 120px;
    height: 150px;
  }

  .caption {
    font-size: 18px;
    line-height: 30px;
  }

  .header {
    height: 1400px;
  }

  .bottom_name {
    padding-top: 35px;
    font-size: 24px;
    line-height: 35px;
  }
}

@media screen and (max-width: 446px) {
  .header {
    height: 1100px;
  }

  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .heading_name {
    font-size: 20px;
    line-height: 30px;
  }

  .img_transform {
    width: 100px;
    height: 130px;
  }

  .description_style {
    font-size: 16px;
    line-height: 25px;
    margin: 0 5px 100px 5px;
  }
}

@media screen and (max-width: 417px) {
  .header {
    height: 1450px;
  }

  .bottom_name {
    font-size: 16px;
    line-height: 27px;
  }

  .img_indent {
    margin: 0 2px;
  }
}
/*MOBILE PHONES*/
