.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background);
  color: var(--color-font);
  height: 300px;
}

.footer_name {
  font-family: Rye;
  font-size: 50px;
  line-height: 70px;
  margin-top: 40px;
  border-bottom: var(--border-par);
  width: 130px;
}

.container_icons {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 120px;
  padding: 14px 35px 20px 35px;
  border-top: var(--border-par);
}

.navigation,
.container_name,
.footer_name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav_items {
  color: var(--color-font);
  position: relative;
  margin-left: 35px;
  text-decoration: none;
}

.container_name {
  flex-direction: column;
}

.footer_caption,
.nav_items {
  font-family: Sahitya;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 28px;
}

.nav_items:hover {
  text-decoration: underline;
  color: var(--hover-nav-color);
}

.footer_caption > a {
  text-decoration: none;
  color: var(--color-font);
}

.footer_caption > a:hover {
  color: var(--hover-nav-color);
  text-decoration: underline;
}

.footer_icons > a {
  margin-left: 25px;
}

.icons_hover > path:hover {
  fill: var(--hover-nav-color);
}

.navigation a:nth-child(1) {
  margin-left: 0;
}
