/*HEADER*/
.header_main {
  position: relative;
  background-image: url(/images/main_page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 899px;
}

.header_main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  opacity: 0.5;
}

.nav,
.container_welcome,
.container_name,
.heading_name,
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container_welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 120px;
}

.container_name,
.container_welcome {
  flex-direction: column;
}

.heading_name,
.name,
.welcome,
.ready {
  color: var(--color-font);
}

.heading_name,
.name {
  font-family: Rye;
}

.welcome,
.ready {
  font-family: Sahitya;
}

.heading_name {
  font-size: 80px;
  line-height: 90px;
  border-bottom: var(--border-par);
  width: 200px;
}

.name {
  position: relative;
  font-size: 30px;
  line-height: 37px;
  border-bottom: var(--border-par);
  width: 80px;
  text-decoration: none;
}

.welcome {
  font-size: 72px;
  line-height: 100px;
}

.ready {
  font-size: 48px;
  line-height: 75px;
  letter-spacing: 0.1em;
}
/*HEADER*/

/*OUR STORY*/
.container_story,
.wrapper_story {
  display: flex;
}

.wrapper_story {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 409px;
  flex: 3 1 100px;
  background: url(/icons/back_story.png) no-repeat 50% 0%,
  url(/icons/back_story2.png) no-repeat -10% 50%,
  url(/icons/back_story.png) no-repeat 50% 100%;
}

.fish_img {
  flex: 2 1 100px;
  padding: 0 111px 17px 0;
}

.disc,
.name_article,
.desc,
.view {
  text-align: center;
}

.name_article,
.desc {
  margin-bottom: 35px;
}

.disc {
  font-family: Rye;
}

.name_article,
.desc,
.view {
  font-family: Sahitya;
}

.name_article,
.disc {
  font-size: 48px;
  line-height: 75px;
}

.desc {
  font-size: 18px;
  line-height: 28px;
}

.view {
  color: var(--color-background);
  text-decoration: none;
  font-size: 36px;
  line-height: 45px;
}

.view:hover {
  color: var(--hover-view-color);
}

.link_underline {
  width: 180px;
  border-bottom: var(--border-set);
}

.fish {
  border-radius: 5px;
  padding-top: 15px;
  transition: 0.5s;
}

.fish:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/*OUR STORY*/

/*RECIPES COOK*/
.container_recipes_cook {
  position: relative;
  background: url(../images/recipes.png);
  height: 516px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_recipes_cook::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  opacity: 0.5;
}

.wrapper_heading {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-font);
}

.wrapper_heading > h1 {
  font-family: Rye;
  font-size: 96px;
  line-height: 120px;
}

.wrapper_heading > p {
  font-family: Sahitya;
  font-size: 64px;
  line-height: 99px;
}

.container_cook {
  background: url(../images/cook.png);
  background-size: cover;
  height: 490px;
}
/*RECIPES COOK*/

/*MENU*/
.container_menu,
.wrapper_menu {
  display: flex;
}

.wrapper_menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex: 3 1;
  background: url(/icons/back_menu.png) no-repeat 50% 10%,
  url(/icons/back_menu2.png) no-repeat 50% 50%,
  url(/icons/back_menu.png) no-repeat 50% 90%;
}

.menu_imgs {
  padding: 35px 0 35px 120px;
  display: grid;
  grid-template: 194px 194px / 194px 194px;
  grid-template-areas:
    "one two"
    "three four";
  grid-gap: 30px;
}

.food_items {
  transition: 0.5s;
}

.food_items:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/*MENU*/

/*RESERVATION*/
.container_reservation,
.reservation {
  display: flex;
}

.reservation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex: 2 1;
  background: url(/icons/back_reservation.png) no-repeat 0% 3%,
  url(/icons/back_reservation2.png) no-repeat -100% 35%,
  url(/icons/back_reservation.png) no-repeat 0% 66%,
  url(/icons/back_reservation2.png) no-repeat -100% 100%;
}

.reservation_img {
  flex: 450px;
  padding: 47px 0;
}

.reservation_img img:nth-child(1) {
  margin-right: 30px;
}

.res_img {
  transition: 0.5s;
}

.res_img:hover {
  transform: scale(1.15);
  cursor: pointer;
}
/*RESERVATION*/

/*MOBILE PHONES*/
@media screen and (max-width: 768px) {

.name {
  display: none;
}

.ready, .reservation {
  margin-top: 30px;
}
  
.welcome, .heading_name {
  font-size: 50px;
  line-height: 70px;
}

.heading_name {
  width: 120px;
}

.fish_img, .menu_imgs {
  display: none;
}

.wrapper_story, .wrapper_menu, .reservation {
  background: none;
}

.container_reservation {
  flex-direction: column;
}

.reservation_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc, .name_article {
  font-size: 40px;
  line-height: 55px;
}

.name_article {
  margin-bottom: 15px;
}

.view {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

.link_underline {
  width: 130px;
}

.desc {
  font-size: 30px;
  line-height: 45px;
  margin: 0 10px 20px 10px;
}

.wrapper_menu {
  height: 410px;
}

.wrapper_heading > h1, .wrapper_heading > p {
  font-size: 40px;
  line-height: 60px;
}
}
/*MOBILE PHONES*/