/*HEADER*/
.header_main {
  position: relative;
  background-image: url(/images/main_page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 899px;
}

.universal_background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  opacity: 0.1;
}

.nav,
.container_welcome,
.container_name,
.main_name,
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container_welcome {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 120px 0 120px;
}

.container_name,
.container_welcome {
  flex-direction: column;
  padding-top: 15px;
}

.main_name,
.name,
.welcome_name,
.ready_name {
  color: var(--color-font);
}

.main_name,
.name {
  font-family: Rye;
}

.welcome_name,
.ready_name {
  font-family: Sahitya;
}

.main_name {
  font-size: 80px;
  line-height: 90px;
  border-bottom: var(--border-par);
  width: 200px;
}

.name {
  position: relative;
  font-size: 30px;
  line-height: 37px;
  border-bottom: var(--border-par);
  width: 80px;
  text-decoration: none;
}

.name:hover {
  color: var(--hover-nav-color);
  border-bottom: var(--border-bottom-hover);
}

.welcome_name {
  font-size: 72px;
  line-height: 100px;
}

.ready_name {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 4px;
}
/*HEADER*/

/*OUR STORY*/
.container_story,
.wrapper_story {
  display: flex;
}

.wrapper_story {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 430px;
  flex: 3 1 100px;
  background: url(/icons/back_story.png) no-repeat 80% 0%,
    url(/icons/back_story2.png) no-repeat 10% 50%,
    url(/icons/back_story.png) no-repeat 80% 100%;
}

.fish_img {
  padding: 15px 111px 17px 0;
}

.disc_name,
.article_name,
.desc_name,
.view_name {
  text-align: center;
}

.article_name,
.desc_name {
  margin-bottom: 40px;
}

.disc_name {
  font-family: Rye;
}

.article_name,
.desc_name,
.view_name {
  font-family: Sahitya;
}

.article_name,
.disc_name {
  font-size: 45px;
  line-height: 60px;
}

.desc_name {
  font-size: 20px;
  line-height: 25px;
  max-width: 670px;
  padding: 0 20px;
}

.view_name {
  color: var(--color-background);
  text-decoration: none;
  font-size: 35px;
  line-height: 40px;
  position: absolute;
}

.view_name:hover {
  color: var(--hover-view-color);
}

.link_underline {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 180px;
  border-bottom: var(--border-set);
  margin-top: 40px;
}

.link_underline:hover {
  border-bottom: var(--border-hover);
}

.fish {
  border-radius: 5px;
}

.fish:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/*OUR STORY*/

/*RECIPES COOK*/

.wrapper_heading,
.container_recipes_cook {
  position: relative;
  display: flex;
}

.container_recipes_cook {
  background: url(../images/recipes.jpg);
  background-size: cover;
  height: 516px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_recipes_cook::before {
  opacity: 0.5;
}

.wrapper_heading {
  flex-direction: column;
  color: var(--color-font);
}

.title_name {
  font-family: Rye;
  font-size: 96px;
  line-height: 120px;
}

.mini_title_name {
  font-family: Sahitya;
  font-size: 64px;
  line-height: 99px;
}

.container_cook {
  background: url(../images/cook.jpg);
  background-size: cover;
  height: 490px;
}
/*RECIPES COOK*/

/*MENU*/
.container_menu,
.wrapper_menu {
  display: flex;
}

.wrapper_menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex: 3 1;
  background: url(/icons/back_menu.png) no-repeat 50% 10%,
    url(/icons/back_menu2.png) no-repeat 50% 50%,
    url(/icons/back_menu.png) no-repeat 50% 90%;
}

.menu_imgs {
  padding: 35px 0 35px 120px;
  display: grid;
  grid-template: 194px 194px / 194px 194px;
  grid-template-areas:
    "one two"
    "three four";
  grid-gap: 30px;
}

.food_items,
.fish,
.res_img {
  transition: 0.5s;
}

.food_items:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/*MENU*/

/*RESERVATION*/
.container_reservation,
.reservation {
  display: flex;
}

.reservation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex: 2 1;
  background: url(/icons/back_reservation.png) no-repeat 0% 3%,
    url(/icons/back_reservation2.png) no-repeat -100% 35%,
    url(/icons/back_reservation.png) no-repeat 0% 66%,
    url(/icons/back_reservation2.png) no-repeat -100% 100%;
}

.reservation_img {
  flex: 450px;
  padding: 47px 0;
}

.reservation_img img:nth-child(1) {
  margin-right: 30px;
}

.res_img:hover {
  transform: scale(1.15);
  cursor: pointer;
}
/*RESERVATION*/

/*MOBILE PHONES*/
@media screen and (max-width: 1000px) {
  .header_main {
    background-size: cover;
  }

  .name,
  .fish_img,
  .menu_imgs {
    display: none;
  }

  .ready_name,
  .reservation {
    margin-top: 30px;
  }

  .welcome_name,
  .main_name {
    font-size: 50px;
    line-height: 70px;
  }

  .main_name {
    width: 120px;
  }

  .wrapper_story,
  .wrapper_menu,
  .reservation {
    background: none;
  }

  .wrapper_story {
    height: 450px;
  }

  .container_reservation {
    flex-direction: column;
  }

  .reservation_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .disc_name,
  .article_name {
    font-size: 40px;
    line-height: 55px;
  }

  .article_name {
    margin-bottom: 15px;
  }

  .view_name {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }

  .link_underline {
    margin-top: 60px;
    width: 130px;
  }

  .desc_name {
    font-size: 30px;
    line-height: 45px;
    margin: 0 10px;
  }

  .wrapper_menu {
    height: 410px;
    margin-bottom: 10px;
  }

  .title_name,
  .mini_title_name {
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .universal_background::before {
    opacity: 0.5;
  }

  .ready_name {
    font-size: 40px;
    line-height: 50px;
  }

  .wrapper_story,
  .wrapper_menu,
  .reservation {
    height: 450px;
  }

  .desc_name {
    font-size: 20px;
    line-height: 30px;
  }

  .reservation_img {
    flex-direction: column;
  }

  .reservation_img img:nth-child(1) {
    margin: 0 0 10px 0;
  }

  .container_welcome {
    top: 30%;
  }
}
/*MOBILE PHONES*/
