/*HEADER*/
.header {
  background-image: url(/images/image_7-min-progressive.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 892px;
}

.container_gallery,
.header {
  margin-bottom: 50px;
}

.welcome_heading {
  font-family: Rye;
  color: var(--color-font);
  font-size: 70px;
  line-height: 90px;
}

.nav li:nth-child(2) {
  text-decoration: underline;
}

.line_reservation {
  display: flex;
  width: 180px;
  margin: 0 auto;
  border-bottom: var(--border-par);
}

.wrapper_welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 190px;
}
/*HEADER*/

/*MAIN*/
.wrapper_gallery {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.gallery_img {
  width: 250px;
  height: 390px;
  transition: 0.5s;
}

.gallery_img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.gallery_text {
  text-align: center;
  font-family: Sahitya;
  font-size: 36px;
  line-height: 56px;
}

.gallery_heading {
  margin: 0 auto;
  text-align: center;
  font-family: Rye;
  font-size: 48px;
  line-height: 50px;
  border-bottom: var(--border-set);
  width: 100px;
  display: flex;
  justify-content: center;
}
/*MAIN*/

/*FORM*/
.container_form {
  background-image: url(/images/reservation_form.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  color: var(--color-font);
}

.container_form,
.button {
  display: flex;
  justify-content: center;
}

.wrapper_form {
  padding-top: 30px;
}

.form_heading {
  margin: 0 auto;
  text-align: center;
  font-family: Rye;
  font-size: 48px;
  line-height: 50px;
}

.line_indent,
.phone_number {
  margin-bottom: 50px;
}

.form_font {
  font-family: Sahitya;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}

.date_person,
.date,
.number_person,
.wishes,
.name_surname {
  display: flex;
  margin-bottom: 40px;
}

.date,
.number_person,
.wishes,
.name_surname,
.phone_number {
  flex-direction: column;
}

#date,
#number,
#wish,
#name,
#phone {
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}

.date {
  margin-right: 150px;
}

.button > input {
  font-family: Rye;
  font-size: 24px;
  line-height: 30px;
  color: var(--button-color);
  background-color: rgba(0, 0, 0, 0.5);
  border: var(--button-color) 1px solid;
  border-radius: 5px;
  padding: 10px 80px;
}

.button > input:hover,
#date:hover {
  cursor: pointer;
}
/*FORM*/

/*MOBILE PHONES*/
@media screen and (max-width: 768px) {

  .name {
    margin-top: 20px;
  }
  
  .name,
  .welcome,
  .welcome_heading {
    font-size: 50px;
    line-height: 60px;
  }

  .wrapper_welcome {
    margin: 300px 0 0 5px;
  }

  .line_reservation {
    width: 150px;
  }

  .gallery_img {
    width: 140px;
    height: 180px;
    border-radius: 10px;
  }

  .gallery_text {
    font-size: 21px;
    line-height: 30px;
  }

  .form_heading {
    font-size: 40px;
    line-height: 45px;
  }

  .date {
    margin-right: 50px;
  }

  #date,
  #number,
  #wish,
  #name,
  #phone,
  #button_book {
    border-radius: 14px;
  }

  .gallery_img:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 608px) {
  .name,
  .welcome,
  .welcome_heading,
  .form_heading {
    font-size: 35px;
    line-height: 45px;
  }

  .date_person {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .gallery_heading {
    font-size: 40px;
    line-height: 50px;
  }

  .gallery_img {
    width: 180px;
    height: 220px;
    margin-bottom: 10px;
  }

  .gallery_text,
  .form_font {
    font-size: 17px;
    line-height: 25px;
  }

  .date {
    margin-right: 20px;
  }

  .wrapper_gallery {
    flex-wrap: wrap;
  }

  .gallery_img:hover {
    transform: none;
  }
}
/*MOBILE PHONES*/
