@import url("https://fonts.googleapis.com/css2?family=Sahitya&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
  --color-font: #f1f1f1;
  --color-background: #0d1217;
  --border-par: 3px solid #f1f1f1;
  --border-set: 3px solid #0d1217;
  --border-hover: 3px solid gray;
  --border-bottom-hover: 3px solid brown;
  --hover-view-color: gray;
  --hover-nav-color: brown;
  --button-color: #84df9e;
}

body,
html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-font);
}