.container_dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
  }
  
  .wrapper_dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dishes_img {
    padding: 300px 30px 0 0;
  }
  
  .name_price {
    display: flex;
    justify-content: space-between;
    font-family: Sahitya;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 8px;
  }
  
  .composition {
    font-family: Sahitya;
    font-size: 24px;
    line-height: 37px;
  }

  .name_5 {
  font-family: Rye;
  font-size: 48px;
  line-height: 60px;
    }
  
  .line_3 {
    width: 90px;
    border: var(--border-set);
  }

  .price_list {
      margin-top: 26px;
  }

  .main_dish {
    position: relative;
    z-index: 1;
  }