.container_pics {
    height: 750px;
}

.wrapper_pics {
    display: flex;
    flex-direction: column;
    position: relative;
}

.pork_ribs {
    position: absolute;
    top: -160px;
    left: 160px;
}

.plate {
    position: absolute;
    top: 220px;
    left: 850px;
}
