.container_pizza {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.wrapper_pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza_img {
  padding: 111px 50px 0 0;
}

.pizza_pic {
  width: 557px;
  height: 861px;
}

.name_price {
  display: flex;
  justify-content: space-between;
  font-family: Sahitya;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  margin: 8px 0 8px 0;
}

.composition {
  font-family: Sahitya;
  font-size: 24px;
  line-height: 37px;
}
